<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <p>Name: {{ info1.0.1 }}  </p>
    <p>Email: {{ info1.0.2 }}  </p>
    <p>Specialization: {{ info2.0.1 }}  </p>

     Active Courses:<br>
    {% for c in info3 %}        
        {{c.1}}<br>           
    {% endfor %}
    <form action="logout" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>