<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursora</title>
</head>
<body>
    <h1>Welcome to Coursora&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <button>
        <a href="{% url 'courses:show_courselist' %}">Courses</a></button>   </h1><br><br>
    
   &ensp;<button><a href="register_student/">Register as a student</a></button>
   <button><a href="register_teacher/">Register as a teacher</a></button>
   <button><a href="login/">Login</a></button>
   
</body>
</html>