<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <p>Name: {{ user.Name }}  </p>
    <p>Email: {{ user.Email }}  </p>
    <p>Specialization: {{ instructor.Specialization}}  </p>

    Active Courses:<br>
    {% for course in courses %}        
        {{course.Name}}<br>           
    {% endfor %}
    <form action="logout" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>