{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="csrf-token" content="{{ csrf_token }}" /> -->
    <style>
        .shadow-textarea textarea.form-control::placeholder {
            font-weight: 300;
        }
        .shadow-textarea textarea.form-control {
            padding-left: 0.8rem;
        }
    </style>
    <title>Document</title>
</head>
<body style="background-color:powderblue;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">&ensp;<img src="{% static 'images/coursora.png'%}" height="30px" class="d-inline-block align-top">&ensp;Coursora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/coursora/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/courselist/">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/profile/">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/profile/logout">Logout</a>
              </li>         
              
            </ul>
            
          </div>
        </div>
      </nav>
    <br>
    
    <div id="main_div">
        <div class="collapse" id="collapseExample" style="margin-left: 15px;">
            <div class="form-group shadow-textarea"><label for="root_comment"></label><textarea class="form-control z-depth-1" id="root_comment" rows="3" placeholder="Write something here..."></textarea></div>
        </div>
        <button style="margin-right: 5px; margin-left: 15px;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Comment
        </button>
        <button onclick="addComment()" class="btn btn-primary">Post</button>
    </div>
    <script type="text/javascript">
        
        var tree, comment_dict, users, forum_id;
        var vis={};
        function getNode(user, comment, margin)
        {
            var node=document.createElement("div");
            node.style.margin=`0px 0px 0px ${margin}px`;
            $(node).addClass("container mt-5");
            node.innerHTML=`<div>
                                <div>
                                    <div>
                                        <div class="bg-white p-2">
                                            <div>
                                                <div><span class="d-block font-weight-bold name">${user["Name"]}</span><span class="date text-black-50">Shared publicly</span></div>
                                            </div>
                                            <div class="mt-2">
                                                <p class="comment-text">${comment["DESCRIPTION"]}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
            // content=document.createElement("p");
            // content.style.margin=`0px 0px 0px 0px`;
            // content.innerHTML=`${user["Name"]}: ${comment["DESCRIPTION"]}`;

            reply_text=document.createElement("div");
            var txtareaid=guidGenerator();
            console.log(txtareaid);
            $(reply_text).attr({"class": "collapse", "id": guidGenerator()})
            reply_text.innerHTML=`<div class="form-group shadow-textarea"><label for=${txtareaid}></label><textarea class="form-control z-depth-1" id=${txtareaid} rows="3" placeholder="Write something here..."></textarea></div>`;
            console.log(reply_text.id);
            
            reply_button=document.createElement("button");
            $(reply_button).attr({"class": "btn btn-primary", "type": "button", "data-toggle": "collapse", "data-target": "#"+reply_text.id, "aria-expanded": "false", "aria-controls": reply_text.id});
            reply_button.innerHTML="reply";
            reply_button.style.margin=`0px 5px 0px 0px`;
            

            post_button=document.createElement("button");
            $(post_button).addClass("btn btn-primary");
            post_button.type="submit";
            post_button.innerHTML="post";
            post_button.txtareaid=txtareaid;

            //node.appendChild(content);
            node.appendChild(reply_text);
            node.appendChild(document.createElement("br"));
            node.appendChild(reply_button);
            node.appendChild(post_button);
            node.appendChild(document.createElement("br"));

            post_button.addEventListener("click",function(){
                console.log(document.getElementById(this.txtareaid).value);
                var request = new XMLHttpRequest();
                    request.onload = function () {
                        if (request.readyState === request.DONE) {
                            if (request.status === 200) {
                                window.location.href=request.responseText;
                            }
                        }
                    };
                    request.open('POST', '/coursora/reply/');
                    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    if($("#"+this.txtareaid).val().length>0){
                        
                        request.send(JSON.stringify({"parent_comment_id": comment.ID, "forum_id": comment.FORUM_ID, "text":document.getElementById(this.txtareaid).value}))
                    
                    }
            });
            return node;
        }
        function addComment()
        {
            var request = new XMLHttpRequest();
            request.onload = function () {
                if (request.readyState === request.DONE) {
                    if (request.status === 200) {
                        window.location.href=request.responseText;
                    }
                }
            };
            request.open('POST', '/coursora/reply/');
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            if($("#root_comment").val().length>0)
                request.send(JSON.stringify({"forum_id": forum_id, "text":document.getElementById("root_comment").value}))
        }
        function dfs(cid, margin)
        {
            //console.log(cid);
            vis[cid]=1;
            document.getElementById("main_div")
            .appendChild(getNode(users[comment_dict[cid].USER_ID], comment_dict[cid], margin));
            for (let id in tree[cid]){
                dfs( tree[cid][id], margin+50);
            }
        }
        function thread()
        {
            var context=JSON.parse("{{context|escapejs}}");
            tree=context["tree"];
            comment_dict=context["comment_dict"];
            users=context["users"];
            forum_id=context["forum_id"];
            //console.log(tree);
            //console.log(comment_dict);
            //console.log(users);
            for (let cid in comment_dict){
                //console.log(cid);
                //dfs(cid,0);
                if(vis[cid]==undefined){
                    dfs(cid,0);
                }
            }
        } 
        function guidGenerator() {
            var S4 = function() {
            return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
            };
            return "a"+(S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
        } 
        window.thread();

        

        
    </script> 
    
</body>

</html>