<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>
<body>
    {{Name}}
    <h1>CourseList</h1>   
    {% for c in course %}        
        
       <h2><a href="contentlist/{{c.0}}/">{{c.1}}</a></h2>
       <h4>{{c.2}}   &ensp;&ensp;&ensp;&ensp;  Level: {{c.3 }}</h4><br>
       <br><br>       
    {% endfor %}  
</body>
</html>