{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/coursora/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/courselist/">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/profile/">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/coursora/profile/logout">Logout</a>
              </li>         
              
            </ul>
            
          </div>
        </div>
      </nav> <br>
      <div style="text-align:right">
      <a class="btn btn-primary" href="/coursora/forum/{{forumid}}" role="button">Discussion Forum</a>&emsp;
    </div>
    <center>
    <h3>
        Exam Title : {{exam_detail.TITLE}}<br>
        Total Marks : {{exam_detail.TOTAL_MARKS}}<br>
        Full Time : {{exam_detail.EXAM_TIME}} minutes<br><br>
        Answer Script<br><br>
    </h3>    
</center>
    <form action='/coursora/exam/{{exam_id}}/' method='post'>
    {% csrf_token %}
        {% for question in submission %}

            
            
            <h4>&ensp;&nbsp;<img src="{% static 'images/ques1.png'%}" height="30px" class="d-inline-block align-top">&nbsp;{{question.QUESTION}}
              {% if question.OPTION_ANS == question.ANSWER  %}
              &emsp;&ensp;<img src="{% static 'images/tick.png'%}" height="15px" class="d-inline-block align-center">
              {% else %}
              &emsp;&ensp;<img src="{% static 'images/cross.png'%}" height="15px" class="d-inline-block align-center">
              {% endif %}
            </h4> &emsp;         
            {% if question.OPTION_ANS == question.OPTION1 %}
            <input type="radio"  id="{{question.ID}}_1" name="{{question.ID}}" value="{{question.OPTION1}}" checked="checked">
            {% else %}
            <input type="radio"  id="{{question.ID}}_1" name="{{question.ID}}" value="{{question.OPTION1}}">
            {% endif %}
            <label for="{{question.ID}}_1">{{question.OPTION1}}</label>&emsp;&emsp;&emsp;&emsp;

            
            {% if question.OPTION_ANS == question.OPTION2 %}
            <input type="radio"  id="{{question.ID}}_2" name="{{question.ID}}" value="{{question.OPTION2}}" checked="checked">
            {% else %}
            <input type="radio"  id="{{question.ID}}_2" name="{{question.ID}}" value="{{question.OPTION2}}">
            {% endif %}
            <label for="{{question.ID}}_2">{{question.OPTION2}}</label>&emsp;&emsp;&emsp;&emsp;


            
            {% if question.OPTION_ANS == question.OPTION3 %}
            <input type="radio"  id="{{question.ID}}_3" name="{{question.ID}}" value="{{question.OPTION3}}" checked="checked">
            {% else %}
            <input type="radio"  id="{{question.ID}}_3" name="{{question.ID}}" value="{{question.OPTION3}}">
            {% endif %}
            <label for="{{question.ID}}_3">{{question.OPTION3}}</label>&emsp;&emsp;&emsp;&emsp;

            
            
            {% if question.OPTION_ANS == question.OPTION4 %}
            <input type="radio"  id="{{question.ID}}_4" name="{{question.ID}}" value="{{question.OPTION4}}" checked="checked">
            {% else %}
            <input type="radio"  id="{{question.ID}}_4" name="{{question.ID}}" value="{{question.OPTION4}}">
            {% endif %}
            <label for="{{question.ID}}_4">{{question.OPTION4}}</label>&emsp;&emsp;&emsp;&emsp;

            <p style="color: purple;">&ensp;&ensp;&nbsp;Correct Answer:  {{ question.ANSWER }}</p><br>
            
    {% endfor %} 
    <br>
    <h3>&ensp;&nbsp;Marks: {{ marks }}</h3>
    
</form>
</body>
</html>