<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
</head>
<body>
  <h1>Content List</h1>&ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
   <form action="/coursora/courselist/{{course_id}}/reg/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Register">
   </form>
   You must register to proceed  
    {% for c in content %}        
        
       <h2><a href="">{{c.1}}</a></h2>
       <h4>Summary : {{c.2}}   &ensp;&ensp;&ensp;&ensp;  Lecture Duration: {{c.3 }} minutes</h4><br>
       <br><br>       
    {% endfor %} 
</body>
</html>