<!DOCTYPE html>
<html lang="en">
<head>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
</head>
<body>
  <h1>Content List</h1>&ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
     {% if creator == 0 %}
     <h1>Registered</h1>
     {% endif %}
     <h1>
         <button>Course Progress</button>
     </h1>
    {% for c in content %}      
        
       <h2><a href="/coursora/courselist/{{course_id}}/contentlist/{{c.0}}/view/">{{c.1}}</a></h2>
       <h4>Summary : {{c.2}}   &ensp;&ensp;&ensp;&ensp;  Lecture Duration: {{c.3 }} minutes</h4><br>
       <br><br>       
    {% endfor %} 
    {% if creator == 1 %}
    <a class="btn btn-primary" href="http://127.0.0.1:8000/coursora/add_lecture/{{course_id}}/" role="button">Add a new Lecture</a>
     {% endif %}
</body>
</html>