<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>
<body>
    {{Name}}
    <h1>CourseList</h1>   
    {% for course in courses %}        
        
       <h2><a href="{% url 'courses:show_contentlist' course_id=course.ID %}">{{course.Name}}</a></h2>
       <h4>{{course.Topic}}   &ensp;&ensp;&ensp;&ensp;  Level: {{course.Level }}</h4><br>
       <br><br>       
    {% endfor %}  
</body>
</html>